
#main_body {
	background: linear-gradient(-45deg, slateblue, #ee7752, slateblue, #ee7752);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

#resume_body {
	background: slateblue;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,slateblue), color-stop(100%,#ee7752));
	background: -webkit-linear-gradient(top,  slateblue 0%, #ee7752 100%);
	background:    -moz-linear-gradient(top,  slateblue 0%, #ee7752 100%);
	background:     -ms-linear-gradient(top,  slateblue 0%, #ee7752 100%);
	background:      -o-linear-gradient(top,  slateblue 0%, #ee7752 100%);
	background:         linear-gradient(to bottom, slateblue 0%, #ee7752 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='slateblue', endColorstr='#ee7752',GradientType=0 );
	background-attachment: fixed;
}

a {
	color: #63ffac;
	font-weight: bold;
	text-decoration: none;
	text-decoration-style: solid;
}

a:hover {
	-webkit-filter: contrast(200%) hue-rotate(-90deg);
	filter: contrast(200%) hue-rotate(-90deg);
}

h1 {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 32px;
	font-weight: 600;
}

h2 {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 28px;
	font-weight: 600;
}

h3 {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	font-weight: 600;
}

ul {
	list-style: none;
}

ul li:before {
	content: '\f0e7';
	color: #63ffac;
	font: 15px/1.5 'FontAwesome';
	margin: 0 10px 0 -22px;
}

li {
	color: #63ffac;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 22px;
	font-weight: 300;
}

p {
	color: #63ffac;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 22px;
	font-weight: 300;
}

.main_block {
	align-items: center;
	/*border: 4px solid green;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.block_item {
	/*border: 4px solid red;*/
	max-width: 540px;
	padding: 10px;
}

#main_img {
	border: black solid;
}

@media (max-width:256px) {
	img#main_img {
		display: none;
	}
}
